<div class="chat-header">
  <div class="left-header">
    <div class="header-title">テストチャット</div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a>チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
</div>
<form class="form">
  <div class="form-input">
    <div class="form-message"></div>
    <label class="form-image">
      <span class="image-file">画像</span>
    </label>
  </div>
  <input type="submit" name="commit" value="送信" class="form-submit">
</form>
  